.wrapper {
    left: 0;
    top: 0;
    padding-top: 55px;
    position: absolute;
    display: flex;
    align-items: stretch;
    
}
.content{
    padding: 10px;
    margin-left: 300px;
    background-color: #29d812 ;

}
.content.active{
     
    margin-left: 0px;

}
.sidebar{
 /*   background-color: rgb(50, 10, 10);*/
    position: fixed;
    min-width: 300px;
    max-width: 300px;
    height: 100vh;
}
.sidebar.active{
    margin-left: -300px;
}
.bnSidebar{    
    width: 300px;
    color: white;
    overflow: hidden ;  
}
.bnSidebar:hover{
    color: white;
    background-color:  rgb(95, 21, 21) ;  
}
.bnSidebar:active{
    color: rgb(187, 58, 122);
    background-color:  rgb(71, 10, 10) ;  
}
.bnSidebar:visited{
    color: white;
   /* background-color:  rgb(24, 100, 17) ; */
}
.bnSidebar-dropdown{
    background-color: rgb(15, 50, 15);
    width: 300px;
    color: white;
    overflow: hidden ;  
}

.bnSidebar-dropdown:hover{
    color: white;
    background-color:   rgb(7, 66, 7);  
}





