.wrapper {
    left: 0;
    top: 55px;
    position: absolute;
    display: flex;
    align-items: stretch;
    
}
#section_content{
    margin-left: 150px;
    align-content: center;
    height: 100vh;
    

}
#section_sidebar{
   
    min-width: 150px;
    max-width: 150px;
    height: 100%;
    position: fixed!important;
    overflow: auto;
    overflow-x: hidden;
    overflow-y:auto;
    z-index: 1;
    
    background-color: #000000;
    color: #ffffff !important;
    align-content: stretch;
}
.sidebar.bn{
    margin-left: -150px;
}

.nav-sidebar {
    padding: 5px 10px 5px 10px;
}


.my-button {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    width: 100%;
    border:0px ;

}
.my-button:hover {
    color: #fff;
    background-color: #bcbcbc ;
    text-decoration: none;
}
.my-button:active {
    color: #ffffff ;
    background-color: #959595 ;
}
.bn-button {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: #555555;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    width: 100%;
    border:0px ;

}
.bn-button:hover {
    color: #fff;
    background-color: #bcbcbc ;
    text-decoration: none;
}
.bn-button:active {
    color: #ffffff ;
    background-color: #959595 ;
}